# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.env/

# Hydra
outputs/

# Logs
logs/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Cache folders
.pytest_cache/
.mypy_cache/

# Unit test / coverage reports
htmlcov/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.log

# Cache files
*_cache

# Lock files
*.lock

# Environment variables
.env

# MacOS files
.DS_Store

# Windows files
Thumbs.db